@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

.container {
  font-size: 18px;
  padding: 0 40px;
}

.container h1 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 10px;
}

.container span {
  font-size: 32px;
}
