.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
  justify-content: center;
}

.container li {
  padding: 10px;
  height: 100px;
  transition: all 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border: 2px dashed black;
  border-radius: 10px;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset,
    20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.container li:hover {
  border-radius: 25px;
}
