.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
  justify-content: center;
}

.container li {
  padding: 10px;
  height: 100px;
  border-radius: 20px;
  transition: all 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border: 2px solid black;
}

.container li:hover {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 11px 11px 24px #7a7a7a, -11px -11px 24px #ffffff;
}
